@charset "UTF-8";
/*------------------------------------------------------------------------
# Porteknofolio
# ------------------------------------------------------------------------
# Designed by Ariq Cahya
--------------------------------------------------------------------------

    1.    Shortcode
    2.    Header


--------------------------------------------------------------------------------*/
/* 1.   Shortcode
--------------------------------------------------------------------------------*/
footer{
  bottom: 0 !important;
}
html{
  min-height: 100% !important;
  height: 100% !important;
}
a,
input,
textarea,
button,
select {
  outline: none;
  border-radius: 0px !important;
}

a:hover,
a:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none !important;
  text-decoration: none;
  border-radius: 0px !important;
  color: rgba(243, 156, 18,1.0);
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #A6A6A6;
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.7em;
}

input, textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

input[type="search"],
input[type="text"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="file"] {
  background: none;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  color: #666;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
  border: 1px solid #d4d4d4;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  color: #666;
  font-size: 14px;
  box-shadow: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}

textarea {
  background: none;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  resize: none;
  padding: 12px;
  height: 140px;
  color: #666;
  font-size: 14px;
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #888888;
}

input:-moz-placeholder {
  color: #888888;
}

input::-moz-placeholder {
  color: #888888;
}

input:-ms-input-placeholder {
  color: #888888;
}

textarea::-webkit-input-placeholder {
  color: #888888;
}

textarea:-moz-placeholder {
  color: #888888;
}

textarea::-moz-placeholder {
  color: #888888;
}

textarea:-ms-input-placeholder {
  color: #888888;
}

a {
  color: #0091ea;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

code, kbd, pre, samp {
  font-size: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

code {
  background-color: eee;
  letter-spacing: 0.015em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

::-moz-selection {
  color: #fff;
  background-color: #0091ea;
}

::selection {
  color: #fff;
  background-color: #0091ea;
}

.list li {
  margin: 8px 0 0;
}

#page-wrap {
  overflow: hidden;
  z-index: 9;
  background-color: #f7f7f7;
}

.container {
  position: relative;
}

.awe-parallax {
  color: #fff;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.awe-static {
  color: #fff;
  background-position: 50% 50%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.awe-color {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  background-color: #0091ea;
}

.awe-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: -2;
}

.awe-btn {
  display: inline-block;
  background: rgba(243, 156, 18,1.0);
  border: 1px solid rgba(243, 156, 18,1.0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  white-space: nowrap;
  text-transform: uppercase;
  cursor: pointer;
  line-height: normal;
  padding: 8px 16px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.awe-btn.awe-btn-style2 {
  border: 0;
  background-color: #ddd;
  color: #666;
}
.awe-btn.awe-btn-style3 {
  border: 0;
  background-color: #0091ea;
  color: #fff;
}
.awe-btn.awe-btn-style3:focus, .awe-btn.awe-btn-style3:hover {
  background-color: rgba(243, 156, 18,0.8);
  color: #fff;
}
.awe-btn:focus, .awe-btn:hover {
  background-color: rgba(243, 156, 18,0.8);
  color: #fff;
}

section {
  position: relative;
}

.tb {
  display: table;
  width: 100%;
}

.tb-cell {
  display: table-cell;
  vertical-align: middle;
}

.db {
  display: block;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 600;
  line-height: 1.5em;
  color: #262626;
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a {
  color: inherit;
}

h1, .h1 {
  font-size: 40px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 30px;
}

h4, .h4 {
  font-size: 28px;
}

h5, .h5 {
  font-size: 20px;
}

h6, .h6 {
  font-size: 18px;
}

abbr {
  background-color: #A1D71A;
  color: #111;
  border-width: 2px;
}

mark, .mark {
  background-color: #0091ea;
}

dfn {
  border-bottom: 1px dashed;
}

blockquote {
  border: 0;
  font-size: 15px;
  color: #999;
  padding: 0;
  padding-left: 30px;
  text-align: left;
  border-left: 3px solid #d4d4d4;
}
blockquote cite, blockquote footer {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #666;
  margin-top: 5px;
  margin-bottom: 5px;
}

pre {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8em;
  padding: 15px;
  border: 1px solid #E4E4E4;
}

span.dropcap {
  display: block;
  float: left;
  font-size: 44px;
  line-height: 34px;
  margin: 6px 8px 0 0;
  color: #666;
}

.icon {
  display: inline-block;
  font-style: normal;
}

.image-cover {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.image-cover img {
  position: absolute;
  width: 100%;
  max-width: none !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.owl-carousel .owl-controls {
  margin: 0;
}
.owl-carousel .owl-controls .owl-buttons {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 999;
}
.owl-carousel .owl-controls .owl-buttons > div {
  display: inline-block;
}
.owl-carousel .owl-controls .owl-buttons > div .fa {
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background-color: #fff;
  font-size: 16px;
  color: #666;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.owl-carousel .owl-controls .owl-buttons > div.owl-prev {
  margin-right: 3px;
}
.owl-carousel .owl-controls .owl-buttons > div.owl-next {
  margin-left: 3px;
}
.owl-carousel .owl-controls .owl-buttons > div:hover .fa {
  color: #0091ea;
}

.awe-select-wrapper {
  position: relative;
  display: inline-block;
}
.awe-select-wrapper .fa {
  position: absolute;
  width: 35px;
  background-color: #fff;
  text-align: right;
  top: 1px;
  bottom: 1px;
  right: 1px;
  font-size: 14px;
  color: #666;
  pointer-events: none;
}
.awe-select-wrapper .fa:before {
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Fix background cover safari */
.fix-background-ios {
  -webkit-background-size: auto 150%  !important;
  background-attachment: scroll  !important;
}

.price-slider {
  display: block;
  border: 0;
  background: none;
  background: none;
  height: 6px;
  border-radius: 0;
  width: calc(100% - 8px);
  z-index: 9;
}
.price-slider:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: -8px;
  top: 0;
  height: 100%;
  background-color: #D4D4D4;
  z-index: -1;
}
.price-slider .ui-slider-range {
  background: none;
  background-color: #0091ea;
  border-radius: 0;
}
.price-slider .ui-slider-handle {
  height: 20px;
  width: 8px;
  background: none;
  background-color: #0091ea;
  border-radius: 0;
  border: 0;
  top: 50%;
  margin: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.accordion {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.accordion .ui-accordion-header {
  background: none;
  border: 0;
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.accordion .ui-accordion-header .ui-accordion-header-icon {
  margin-top: 0;
  right: 20px;
  left: auto;
  width: 0;
  height: 0;
  background: none;
  border: 8px solid transparent;
  border-top-color: #666;
  margin-top: 4px;
  -webkit-transform-origin: 50% 4px;
  -moz-transform-origin: 50% 4px;
  -ms-transform-origin: 50% 4px;
  -o-transform-origin: 50% 4px;
  transform-origin: 50% 4px;
  -webkit-transform: translateY(-50%) rotate(0) scaleX(0.6);
  -moz-transform: translateY(-50%) rotate(0) scaleX(0.6);
  -ms-transform: translateY(-50%) rotate(0) scaleX(0.6);
  -o-transform: translateY(-50%) rotate(0) scaleX(0.6);
  transform: translateY(-50%) rotate(0) scaleX(0.6);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.accordion .ui-state-active,
.accordion .ui-widget-content .ui-state-active {
  color: #0091ea;
}
.accordion .ui-state-active .ui-icon,
.accordion .ui-widget-content .ui-state-active .ui-icon {
  -webkit-transform: translateY(-50%) rotate(180deg) scaleX(0.6);
  -moz-transform: translateY(-50%) rotate(180deg) scaleX(0.6);
  -ms-transform: translateY(-50%) rotate(180deg) scaleX(0.6);
  -o-transform: translateY(-50%) rotate(180deg) scaleX(0.6);
  transform: translateY(-50%) rotate(180deg) scaleX(0.6);
}
.accordion .ui-widget-content {
  background: none;
  border: 0;
  border-radius: 0;
  color: #A6A6A6;
  padding: 20px 0 30px 0;
}
.accordion.trip-schedule-accordion .ui-widget-content {
  color: #666;
}

.ui-datepicker {
  background: none;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #d4d4d4;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", sans-serif;
  width: 290px;
}
.ui-datepicker .ui-datepicker-header {
  background: none;
  background-color: #d4d4d4;
  border-radius: 0;
  border: 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  line-height: 40px;
  color: #111;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  width: 34px;
  height: 34px;
  margin: auto;
  top: 0;
  bottom: 0;
  background: none;
  border: 0 !important;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover {
  background-color: #0091ea;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  left: 5px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  right: 5px;
}
.ui-datepicker .ui-datepicker-header .ui-icon {
  position: absolute;
  background: none;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ui-datepicker .ui-datepicker-header .ui-icon-circle-triangle-w {
  border-right-color: #111;
  -webkit-transform: translateX(-30%);
  -moz-transform: translateX(-30%);
  -ms-transform: translateX(-30%);
  -o-transform: translateX(-30%);
  transform: translateX(-30%);
}
.ui-datepicker .ui-datepicker-header .ui-icon-circle-triangle-e {
  border-left-color: #111;
  -webkit-transform: translateX(30%);
  -moz-transform: translateX(30%);
  -ms-transform: translateX(30%);
  -o-transform: translateX(30%);
  transform: translateX(30%);
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
}
.ui-datepicker .ui-datepicker-calendar thead tr th span {
  font-weight: 600;
  color: #333;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td a {
  display: block;
  padding: 0;
  line-height: 36px;
  text-align: center;
  background: none;
  background-color: #d4d4d4;
  border: 0;
  color: #111;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td a:hover {
  background-color: #0091ea;
  color: #fff;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-active,
.ui-datepicker .ui-datepicker-calendar .ui-widget-content .ui-state-active,
.ui-datepicker .ui-datepicker-calendar .ui-widget-header .ui-state-active {
  background-color: #0091ea;
  color: #fff;
}

.autoHeight {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.bg-border {
  border-bottom: 1px solid #E4E4E4;
}

.map-demo {
  height: 300px;
}

/* Preloader */
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 999999999;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.preloader:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 9;
  background-color: #FF007F;
  width: 30px;
  height: 30px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  -webkit-animation: preloader 5s linear infinite;
  -moz-animation: preloader 5s linear infinite;
  animation: preloader 5s linear infinite;
}

@-webkit-keyframes preloader {
  0% {
    background-color: #FF007F;
    -webkit-transform: scale(0);
    opacity: 1;
  }

  20% {
    background-color: #FF007F;
    -webkit-transform: scale(3);
    opacity: 0;
  }

  20.00001% {
    background-color: #3EA7F3;
    -webkit-transform: scale(0);
    opacity: 1;
  }

  40% {
    background-color: #3EA7F3;
    -webkit-transform: scale(3);
    opacity: 0;
  }

  40.00001% {
    background-color: #79C742;
    -webkit-transform: scale(0);
    opacity: 1;
  }

  60% {
    background-color: #79C742;
    -webkit-transform: scale(3);
    opacity: 0;
  }

  60.00001% {
    background-color: #F57B3D;
    -webkit-transform: scale(0);
    opacity: 1;
  }

  80% {
    background-color: #F57B3D;
    -webkit-transform: scale(3);
    opacity: 0;
  }

  80.00001% {
    background-color: #04D9D9;
    -webkit-transform: scale(0);
    opacity: 1;
  }

  100% {
    background-color: #04D9D9;
    -webkit-transform: scale(3);
    opacity: 0;
  }
}
@-moz-keyframes preloader {
  0% {
    background-color: #FF007F;
    -moz-transform: scale(0);
    opacity: 1;
  }

  20% {
    background-color: #FF007F;
    -moz-transform: scale(3);
    opacity: 0;
  }

  20.00001% {
    background-color: #3EA7F3;
    -moz-transform: scale(0);
    opacity: 1;
  }

  40% {
    background-color: #3EA7F3;
    -moz-transform: scale(3);
    opacity: 0;
  }

  40.00001% {
    background-color: #79C742;
    -moz-transform: scale(0);
    opacity: 1;
  }

  60% {
    background-color: #79C742;
    -moz-transform: scale(3);
    opacity: 0;
  }

  60.00001% {
    background-color: #F57B3D;
    -moz-transform: scale(0);
    opacity: 1;
  }

  80% {
    background-color: #F57B3D;
    -moz-transform: scale(3);
    opacity: 0;
  }

  80.00001% {
    background-color: #04D9D9;
    -moz-transform: scale(0);
    opacity: 1;
  }

  100% {
    background-color: #04D9D9;
    -moz-transform: scale(3);
    opacity: 0;
  }
}
@keyframes preloader {
  0% {
    background-color: #FF007F;
    transform: scale(0);
    opacity: 1;
  }

  20% {
    background-color: #FF007F;
    transform: scale(3);
    opacity: 0;
  }

  20.00001% {
    background-color: #3EA7F3;
    transform: scale(0);
    opacity: 1;
  }

  40% {
    background-color: #3EA7F3;
    transform: scale(3);
    opacity: 0;
  }

  40.00001% {
    background-color: #79C742;
    transform: scale(0);
    opacity: 1;
  }

  60% {
    background-color: #79C742;
    transform: scale(3);
    opacity: 0;
  }

  60.00001% {
    background-color: #F57B3D;
    transform: scale(0);
    opacity: 1;
  }

  80% {
    background-color: #F57B3D;
    transform: scale(3);
    opacity: 0;
  }

  80.00001% {
    background-color: #04D9D9;
    transform: scale(0);
    opacity: 1;
  }

  100% {
    background-color: #04D9D9;
    transform: scale(3);
    opacity: 0;
  }
}

/*--------------------------------------------------------------------------------
 2.   Header
--------------------------------------------------------------------------------*/
.awe-navbar{
  background: #fff !important;
  border: none !important;
  box-shadow: 2px 2px 2px 2px rgba(236, 240, 241,0.3) !important;
}
#logos{
  margin-top: -10px;
  margin-left:65%;
  padding-right: 8px;
  padding-left: 8px;
  background: #fff !important;
  border-radius: 100%;
  color: #f39c12;
}
.border-primary{
  background: rgba(52, 152, 219,0.9);
}
.border-primary > a{
  color: #fff !important;
}
.border-primary > a:hover{
  color: #fff !important;
  background: rgba(41, 128, 185,1.0) !important;
}
.border-warning{
  background: #f39c12;
}
.border-warning > a{
  color: #fff !important;
}
.border-warning > a:hover{
  color: #fff !important;
  background: #f1c40f !important;
}
.dropdown-menu{
  border-radius: 0px !important;
}
.dropdown-border{
   border-top: 3px solid rgba(243, 156, 18,1.0) !important;
}
/*--------------------------------------------------------------------------------
 3.   Hero
--------------------------------------------------------------------------------*/
.overlay{
  background: rgba(44, 62, 80,0.6);
}
/*--------------------------------------------------------------------------------
 4.   Promo1
--------------------------------------------------------------------------------*/
.promo1{
  margin: 40px;
}
.promo1 p{
  color: #464646;
}
.promo1 h5{
  color: #464646;
}
.thumbnail{
  border-radius: 0px !important;
  border: transparent !important;
  /*box-shadow: 1px 1px 1px 1px rgba(236, 240, 241,0.7);*/
}

/*--------------------------------------------------------------------------------
 5.   Promo2
--------------------------------------------------------------------------------*/
.promo2{
  margin: 40px;
}
.promo2 p{
  color: rgba(0, 0, 0,0.6);
}
.promo2 h5{
  color: #464646;
}
.tipe1{
  border-radius:0px !important; background:rgba(243, 156, 18,1.0);
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 2px 2px 2px 2px rgba(236, 240, 241,0.8) !important;
}

/*--------------------------------------------------------------------------------
 5.   Trip Terbaru
--------------------------------------------------------------------------------*/
.tripbaru{
  margin: 60px;
}
.tripbaru p{
  color: rgba(0, 0, 0,0.6);
}
.tripbaru h5{
  color: #464646;
}
.list-trip{
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 20px;
}
.list-trip a{
  color: #464646;
  padding-bottom: 4px;
  border-bottom: 2px solid #464646;
  padding-right: 30%;
}
.list-trip a:hover{
  color: rgba(243, 156, 18,0.9);
  border-bottom: 2px solid rgba(243, 156, 18,0.9);
  padding-right: 22%;
}
.trip-item{
  background: rgba(236, 240, 241,0.4) !important;
  padding: 10px;
  margin-bottom: 10px;
  color: #464646;
}
.tipe2{
  border-radius:0px !important; background:rgba(142, 68, 173,1.0);
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid rgba(142, 68, 173,1.0);
  box-shadow: 2px 2px 2px 2px rgba(236, 240, 241,0.8) !important;
}
.price{
  padding-top: 4.5%;
}
/*--------------------------------------------------------------------------------
 6.   Footer
--------------------------------------------------------------------------------*/
.wrap{
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
}
.footer-style{
  margin-top: 15px;
  color: #464646;
}
.footer-style a{
  font-weight: bold;
  font-size: 1em;
  color: #a3a3a3;
}
.footer-style a:hover{
  font-weight: bold;
  font-size: 1.1em;
  color: #464646;
}
#toTop{
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
}

/*--------------------------------------------------------------------------------
 7.   Login
--------------------------------------------------------------------------------*/
.btn-orange{
  background: #f39c12;
  border-radius:0px;
}
.login{
  background: rgba(236, 240, 241,0.9);
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.informasi{
  background: rgba(236, 240, 241,0.9);
  padding: 30px;
  margin-bottom: 5px;
}

.bg-img {
  background: url('../img/bg-img.png') no-repeat center center fixed;
  background-size:cover;
  height: 600px;
}
/*--------------------------------------------------------------------------------
 8.   Register
--------------------------------------------------------------------------------*/
.btn-orange{
  background: #f39c12;
  border-radius:0px;
}
.register{
  background: rgba(236, 240, 241,0.9);
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.bg-img2 {
  background: url('../img/bg-img2.png') no-repeat center center fixed;
  background-size:cover;
  height: 680px;
}
/*--------------------------------------------------------------------------------
 9.   Dashboard
--------------------------------------------------------------------------------*/
.push-down{
  margin-top: 1%;
}
#wrapper {
  padding-left: 70px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 180px;
  width: 150px;
  background: rgba(236, 240, 241,0.6);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #464646;
  padding-left: 60px;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #464646;
  text-align: center;
  width: 20px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: rgba(243, 156, 18,1.0);
  background: rgba(236, 240, 241,0.6);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #464646;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: rgba(243, 156, 18,1.0);
  background: none;
}



.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  margin-left: 5px;
    text-decoration: none;
}

.btn-menu {
  color: #000;
} 

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 80px;
}

#wrapper.active #sidebar-wrapper {
  left: 180px;
  width: 160px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
  margin-left: 1px;
}

.inset {
  padding: 15px;
}
.left-o{
  margin-left: 2px;
}

.breadcrumb{
  border-radius: 0px !important;
  background: rgba(236, 240, 241,0.6) !important;

}
.breadcrumb a{
  color: rgba(52, 152, 219,1.0);
}
.breadcrumb a:hover{
  color: rgba(41, 128, 185,1.0);
}

/*--------------------------------------------------------------------------------
 10.   Checkout
--------------------------------------------------------------------------------*/
.info-checkout{
}
.btn-checkout{
  background: rgba(236, 240, 241,0.1) !important;
  border-bottom: 2px solid rgba(243, 156, 18,1.0) !important;
}
#round-white{
  background: #fff !important;
}
/*--------------------------------------------------------------------------------
 10.   Trip List
--------------------------------------------------------------------------------*/
